/* This css file is to style medium size view port for my design principles assignment */

@media only screen and (min-width: 37.5em) {
    #grid-container {
        grid-template-columns: 1fr 1fr;
        max-width: 90%;
        font-size: 1rem;
        column-gap: 1.2rem;
    }

    header {
        grid-column: span 2;
        font-size: 1.2rem;
    }

}