/* This css file is the main and small css file used for my design
    principles document */

header,
footer {
    border: 2px solid #00ffff;
    padding: 1rem;
    background-color: #000099;
    color: #ccffff;
    text-align: center;
    max-width: 90%;
    display: block;
    margin: auto;
}

header {
    font-size: .8rem;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: .5rem;
    max-width: 90%;
    margin: auto;
    padding: 1rem;
    font-size: .8rem;
}

/*body {
    margin: 0;
    display: flex;
    justify-content: center;
}
*/
/*header {
    display: block;
    margin: .75rem;
    text-align: center;
}
*/
main {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 2rem;
}

h1,
h2,
h3,
h4 {
    font-family: 'Noto Sans JP', sans-serif;
}

h3 {
    color: white;
    background-color: darkslategray;
    border-radius: 1rem;
    padding: 1rem;
    margin: auto;
    font-size: 1.5rem;
}

.first-img {
    width: 100%;
}

.second-img {
    width: 100%;
}

.third-img {
    width: 100%;
}

.firstcolumn,
.secondcolumn,
.thirdcolumn {
    padding: 1rem;
    margin: .75rem;
    background-color: lightgray;
    border-radius: 1rem;
    width: 90%;
}