body {
    font-size: 16px;
}


header, 
main, 
footer {
max-width: 760px;
margin: 0 auto;
}

header,
footer {
    border: 2px solid #bbb;
    padding: 1rem;
    background-color: #bed;
}

header img {
    float: right;
    width: auto;
    height: 200px;
}