body {
    font-size: 16px;
}


header, 
main, 
footer {
max-width: 760px;
margin: 0 auto;
}

header,
footer {
    border: 2px solid #00ffff;
    padding: 1rem;
    background-color: #000099;
    color: #ccffff;
}

header img {
    float: right;
    width: auto;
    height: 200px;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}