/* This css file is to act as the base stylesheet besides normalize to style my website planning assingment */

header {
    display: flex;
    margin: auto;
    padding: .75rem;
    background-color: #4e6969;
    border: 5px solid  #0d9de3;
    color:beige;
    text-align: center;
    border-radius: 25px;
}

h1 {
    margin: auto;
    text-align: center;
}

footer {
    display: block
    margin: auto;
    margin-top: 1rem;
    padding: .75rem;
    background-color: #4e6969;
    border: 5px solid  #0d9de3;
    color:beige;
    text-align: center;
    border-radius: 25px;
}

header img {
    height: 90px;
}

body {
    font-size: 16px;
    margin:auto;
    padding: 2rem;
    font-family: 'Josefin Sans', sans-serif;
}

.domain-container {
    border: 5px solid  #0d9de3;
    border-radius: 25px;
    margin-top: 2rem;
    padding: .75rem;
    text-align: left;
}

h2 {
    margin-top: 10px;
}

.logo-container {
    border: 5px solid  #0d9de3;
    border-radius: 25px;
    margin-top: 2rem;
    padding: .75rem;
    text-align: left;
}

.example-logo {
    height: 150px;
    width: auto;
}