header,
footer {
    display: flex;
    margin: auto;
    padding: .75rem;
    background-color: #4e6969;
    border: 5px solid  #0d9de3;
    color:beige;
    text-align: center;
    border-radius: 25px;
    box-shadow: 5px darkslategrey;
}

.header-logo {
    height: 170px;
    width: auto;
    align-items: center;
}

body {
    font-size: 16px;
    margin:auto;
    padding: 1rem;
    font-family: 'Josefin Sans', sans-serif;
}
